@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  --gradient-color-1: #F69C4D;
  --gradient-color-2: #B9D9EC;
  --gradient-color-3: #E54B48;
  --gradient-color-4: #e2e2e2;
}
